<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carreras</title>
    <style>
        nav {
            height: 40px;
            text-align: left;
            background: chartreuse;
            color: black;
            font-size: 20px;
            padding-left: 50px;
            padding-right: 50px;
            font-family: Arial,serif;
        }
        body {
            background: dimgrey;
            color: honeydew;
            font-family: Roboto,sans-serif;
        }
        nav a {
            text-decoration: none;
            color: dimgrey;
            padding: 20px;
        }
        nav a:hover {
            color: black;
        }
        #main-container {
            width: 80%;
            margin: auto;
        }
        #header-logo {
            height: 15px;
            width: 15px;
        }
        .update-button {
            background: chartreuse;
            padding: 8px;
            border-radius: 6px;
            border-style: none;
        }

    </style>
</head>
<body>
    <nav>
        <a href="/"><img src="./static/logo.png" id="header-logo" alt="logo"/></a>
        <a href="/">Pilotos</a>
        <a href="/calendar">Calendario</a>
        <a href="/teams">Equipos</a>
    </nav>
    <div id="main-container">
      <div id="table-container">
        <table id="driver-table">
          <tr>
            <th>Piloto</th>
            <th>Puntos</th>
            <th>Actualizar</th>
          </tr>
          {% for d in drivers %}
          <tr>
            <td><p id="{{ d.id }}-id">{{ d.name }}</p></td>
            <td><form id="{{ d.id }}-form" class="update-driver-form"><input id="score" type="number" value="{{ d.score }}"></form></td>
            <th><button form="{{ d.id }}-form" class="update-button" type="button" onclick="update({{ d.id }})">Actualizar</button></th>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div id="driver-form"></div>
      <button id="insert-driver-button" onclick="insertDriverForm()">Inserta un nuevo piloto</button>
    </div>
  <script>
    function insertDriverForm() {
      const contenedor = document.getElementById("driver-form");
      const formulario = document.createElement("form");
      const nombreInput = document.createElement("input");
      const numeroInput = document.createElement("input");
      const puntosInput = document.createElement("input");
      const nombreLabel = document.createElement("label");
      const numeroLabel = document.createElement("label");
      const puntosLabel = document.createElement("label");
      const boton = document.createElement("button");

      document.getElementById("insert-driver-button").style.display = "none";

      nombreLabel.for = "name-input";
      nombreLabel.innerText ="Nombre del piloto: ";
      numeroLabel.for = "number-input";
      numeroLabel.innerText = "Dorsal: ";
      puntosLabel.for = "score-input";
      puntosLabel.innerText ="Puntos: ";

      nombreInput.type = "text";
      nombreInput.id = nombreInput.name = "name-input";
      nombreInput.style.display = "block";
      numeroInput.type = "text";
      numeroInput.id = numeroInput.name = "number-input";
      numeroInput.style.display = "block";
      puntosInput.type = "number";
      puntosInput.id = nombreInput.name = "score-input";
      puntosInput.style.display = "block";

      boton.type = "button";
      boton.innerText = "Insertar";
      boton.onclick = function() {insertDriver()};

      formulario.id = "insert-driver-form";
      //formulario.onsubmit = "insertDriver()";
      //formulario.action = "/";
      //formulario.method = "post";

      formulario.appendChild(nombreLabel);
      formulario.appendChild(nombreInput);
      formulario.appendChild(numeroLabel);
      formulario.appendChild(numeroInput);
      formulario.appendChild(puntosLabel);
      formulario.appendChild(puntosInput);
      formulario.appendChild(boton);
      contenedor.appendChild(formulario);
    }

    function insertDriver() {
      const nombre = document.getElementById("name-input").value;
      const numero = document.getElementById("number-input").value;
      let puntos = document.getElementById("score-input").value;
      const tabla = document.getElementById("driver-table");
      const fila = document.createElement("tr");

      if(nombre === "") {
        alert("El nombre no puede estar vacio");
        return false;
      } else if (!/^[A-Z]\. [a-zA-Z]+$/.test(nombre)) {
        alert("Formato de nombre incorrecto. Utiliza caracteres alfabéticos.");
        return false;
      }
      if(numero === "") {
        alert("El dorsal no puede estar vacio");
        return false;
      } else if (!/^[1-9][0-9]?/.test(numero)) {
        alert("Formato de dorsal incorrecto. Utiliza caracteres numéricos.");
        return false;
      }
      if(puntos === "") {
        puntos = 0;
      }

      let formData = new FormData();
      formData.append("name", nombre);
      formData.append("id", numero);
      formData.append("score", puntos);
      formData.append("form", "insert");

      fila.innerHTML =
              '<td><p id="' + numero + '-id">' + nombre + '</p></td>\
               <td><form id="' + numero + '-form"  class="update-driver-form" method="post" onsubmit="update(' + numero + ')"><input id="score" type="number" value="' + puntos + '">\</form>\</td>\
               <td><button form="' + numero + '-form" class="update-button" type="submit">Actualizar</button></td>'
      ;
      tabla.appendChild(fila);

      sortTable();

      document.getElementById("driver-form").innerHTML = "";
      document.getElementById("insert-driver-button").style.display = "inline-block";

      alert("Piloto insertado/a correctamente!");

      let request = new XMLHttpRequest();
      request.open("POST", "/", true);
      request.send(formData);
    }

    function update(id) {
      const puntos =  document.getElementById(id + "-form")["score"].value;
      console.log(puntos);

      let formData = new FormData();
      formData.append("id", id);
      formData.append("score", puntos);
      formData.append("form", "modify");

      let request = new XMLHttpRequest();
      request.open("POST", "/");
      request.send(formData);

      sortTable();

      alert("Piloto actualizado/a correctamente!");
    }

    function sortTable() {
      let table, rows, switching, i, x, y, shouldSwitch;
      table = document.getElementById("driver-table");
      switching = true;
      // Se recorre el bucle hasta que todos los elementos esten ordenados
      while (switching) {
        switching = false;
        rows = table.rows;
        // Se deben recorrer todas las filas salvo la primera, que es la cabecera
        for (i = 1; i < (rows.length - 1); i++) {
          // start by saying there should be no switching:
          shouldSwitch = false;
          // Se compara la puntuacion de una fila con la de la siguiente fila
          let xchildren = rows[i].getElementsByTagName("TD")[1].childNodes;
          let ychildren = rows[i + 1].getElementsByTagName("TD")[1].childNodes;
          let x = parseInt(xchildren[0]["score"].value, 10);
          let y = parseInt(ychildren[0]["score"].value, 10);
          // Si la segunda es mayor que la primera, deben intercambiarse
          if (x < y) {
            // Rompemos el bucle para intercambiarlos
            shouldSwitch = true;
            break;
          }
        }
        if (shouldSwitch) {
          // Notificamos que se ha realizado el cambio
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
        }
      }
    }
  </script>
</body>
</html>