<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carreras</title>
    <style>
        nav {
            height: 50px;
            text-align: center;
            background: dimgray;
            color: black;
            font-size: 20px;
            padding-left: 50px;
            padding-right: 50px;
            font-family: Arial,serif;
            border-bottom: chartreuse 1px solid;
        }
        body {
            background: dimgrey;
            color: honeydew;
            font-family: Roboto,sans-serif;
        }
        nav a {
            text-decoration: none;
            color: honeydew;
            padding: 20px;
        }
        nav a:hover {
            color: chartreuse;
        }
        #nav-container {
            width: 60%;
            margin: auto;
        }
        #nav-container div{
            display: inline;
        }
        #main-container {
            width: 60%;
            margin: auto;
        }
        #table-container {
            margin: auto;
        }
        table {
            width: 100%;
            text-align: left;
        }
        th, td {
          padding: 15px;
        }
        .update-button {
            background: chartreuse;
            padding: 8px;
            border-radius: 6px;
            border-style: none;
        }
        .remove-button {
            background: #DB3E51;
            padding: 8px;
            border-radius: 6px;
            border-style: none;
        }
        form input {
            display: block;
        }
        select {
            display: block;
        }

    </style>
</head>
<body>
    <nav>
        <div id="nav-container">
            <div id="nav-buttons">
                <a href="/">Pilotos</a>
                <a href="/event">Calendario</a>
                <a href="/teams">Equipos</a>
            </div>
            <div id="nav-login">
                {% if username %}
                <a href="{{ access_link }}">{{ username }}</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div id="main-container">
        <h1>Equipos y pilotos</h1>
        <div id="table-container">
            {% if teams|length > 0 %}
            <table id="team-table">
                <tr>
                    <th>Equipo</th>
                    <th>Pilotos</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for t in teams %}
                <tr id="{{ t.name }}">
                    <td>{{ t.name }}</td>
                    {% if t.driver1 and t.driver2 %}
                    <td>{{ t.driver1 }} y {{ t.driver2 }}</td>
                    {% elif t.driver1 %}
                    <td>{{ t.driver1 }}</td>
                    {% elif t.driver2 %}
                    <td>{{ t.driver2 }}</td>
                    {% else %}
                    <td>No tiene pilotos</td>
                    {% endif %}
                    {% if is_admin %}
                    <td><button class="update-button" onclick="updateTeamForm('{{ t.name }}')" type="button">Actualizar</button></td>
                    <td><button class="remove-button" onclick="remove('{{ t.name }}')" type="button">Eliminar</button></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        {% else %}
        <p id="no-teams-banner">No se han encontrado equipos</p>
        {% endif %}
        </div>
        {% if is_admin %}
        <button id="insert-team-button" onclick="insertTeamForm()">Inserta un nuevo equipo</button>
        {% endif %}
        <div id="freelance-drivers-container">
            <h3>Pilotos sin equipo</h3>
            {% if freelance|length > 0 %}
            <ul id="freelance-list">
                {% for d in freelance %}
                <li id="{{ d.name }}">{{ d.name }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p id="no-freelance-banner">No hay pilotos sin equipo</p>
            {% endif %}
        </div>
        {% if is_admin %}
        <div id="team-form-container" style="display: none">
            <form id="team-form">
                <input type="hidden" id="old-name-input" name="old-name-input">

                <label for="name-input">Nombre del equipo:</label>
                <input type="text" id="name-input" name="name-input" required>

                <label for="driver1-select">Nombre de el/la primer/a piloto:</label>
                <select id="driver1-select">
                {% if freelance|length > 0 %}
                    <option value="" selected>Selecciona un/a piloto</option>
                    {% for d in freelance %}
                    <option value="{{ d.name }}">{{ d.name }}</option>
                    {% endfor %}
                {% else %}
                <option value="">No hay pilotos</option>
                {% endif %}
                </select>
                <button type="button" id="driver1-freelance-button" style="display: none">Liberar piloto</button>

                <label for="driver2-select">Nombre de el/la segundo/a piloto:</label>
                <select id="driver2-select">
                {% if freelance|length > 0 %}
                    <option value="" selected>Selecciona un/a piloto</option>
                    {% for d in freelance %}
                    <option value="{{ d.name }}">{{ d.name }}</option>
                    {% endfor %}
                {% else %}
                    <option value="">No hay pilotos</option>
                {% endif %}
                </select>
                <button type="button" id="driver2-freelance-button" style="display: none">Liberar piloto</button>

                <button type="button" id="insert-button" onclick="insertTeam()" disabled>Insertar</button>
                <button type="button" id="update-button" onclick="update()" disabled>Actualizar</button>
            </form>
        </div>
        {% endif %}
    </div>
    {% if is_admin %}
    <script>
        function insertTeamForm() {
            document.getElementById("team-form-container").style.display = "block";
            document.getElementById("insert-button").disabled = false;
            document.getElementById("update-button").disabled = true;
            document.getElementById("insert-team-button").style.display = "none";
        }

        function insertTeam() {

            const nombre = document.getElementById("name-input").value;
            const piloto1 = document.getElementById("driver1-select").value;
            const piloto2 = document.getElementById("driver2-select").value;

            if (nombre === "") {
                alert("El nombre no puede estar vacio");
                return false;
            } else if (!/^[a-zA-Z ]+$/.test(nombre)) {
                alert("Formato de nombre incorrecto. Utiliza caracteres alfabéticos.");
                return false;
            }

            let formData = new FormData();
            formData.append("name", nombre);
            if (piloto1 !== "") {
                formData.append("driver1", piloto1);
            }
            if (piloto1 !== "") {
                formData.append("driver2", piloto2);
            }
            formData.append("form", "insert");

            let request = new XMLHttpRequest();
            request.open("POST", "/teams", true);
            request.send(formData);

            if(alert("Equipo insertado correctamente!")){}
            else setTimeout(function(){location.reload()}, 500);
        }

        function updateTeamForm(nombre) {
            document.getElementById("team-form-container").style.display = "block";
            document.getElementById("insert-button").disabled = true;
            document.getElementById("update-button").disabled = false;
            document.getElementById("insert-team-button").style.display = "none";

            const fila = document.getElementById(nombre);

            const pilotos = fila.getElementsByTagName("TD")[1].innerText.split(' y ');
            let piloto1, piloto2 = "";
            if(pilotos.length > 0)
                piloto1 = pilotos[0];
            if(pilotos.length > 1)
                piloto2 = pilotos[1];
            document.forms["team-form"]["old-name-input"].value =
                document.forms["team-form"]["name-input"].value = fila.getElementsByTagName("TD")[0].innerText;

            const sel1 = document.getElementById("driver1-select");
            const sel2 = document.getElementById("driver2-select");
            if (piloto1 !== "") {
                const d1 = document.createElement("option");
                d1.value = piloto1;
                d1.innerText = piloto1;
                d1.selected = true;
                sel1.disabled = true;
                sel1.append(d1);
                const botonFL1 = document.getElementById("driver1-freelance-button");
                botonFL1.onclick = function() {makeDriverFreelance(piloto1, 1, nombre)};
                botonFL1.style.display = "block";
            }

            if (piloto2 !== "") {
                const d2 = document.createElement("option");
                d2.value = piloto2;
                d2.innerText = piloto2;
                d2.selected = true;
                sel2.disabled = true;
                sel2.append(d2);
                const botonFL2 = document.getElementById("driver2-freelance-button");
                botonFL2.onclick = function() {makeDriverFreelance(piloto2, 2, nombre)};
                botonFL2.style.display = "block";
            }
        }

        function makeDriverFreelance(piloto, num, equipo) {
            let formData = new FormData();

            if (num === 1) {
                formData.append("driver1", piloto);
            } else {
                formData.append("driver2", piloto);
            }

            formData.append("name", equipo);
            formData.append("form", "freelance");

            let request = new XMLHttpRequest();
            request.open("POST", "/teams");
            request.send(formData);

            if(alert("Piloto liberado correctamente!")){}
            else setTimeout(function(){location.reload()}, 500);
        }

        function update() {
            const nombreOld = document.forms["team-form"]["old-name-input"].value;
            const nombre = document.forms["team-form"]["name-input"].value;
            const piloto1 = document.forms["team-form"]["driver1-select"].value;
            const piloto2 = document.forms["team-form"]["driver2-select"].value;

            let formData = new FormData();
            formData.append("old-name", nombreOld);
            formData.append("name", nombre);

            if (piloto1 !== "" && piloto2 !== "") {
                formData.append("driver1", piloto1);
                formData.append("driver2", piloto2);
            } else if (piloto1 === "") {
                formData.append("driver2", piloto2);
            } else if (piloto2 === "") {
                formData.append("driver1", piloto1);
            }

            formData.append("form", "modify");

            let request = new XMLHttpRequest();
            request.open("POST", "/teams");
            request.send(formData);

            if(alert("Equipo actualizado correctamente!")){}
            else setTimeout(function(){location.reload()}, 500);
        }

        function remove(name) {
            let formData = new FormData();
            formData.append("name", name);
            formData.append("form", "remove");

            let request = new XMLHttpRequest();
            request.open("POST", "/teams");
            request.send(formData);

            if(alert("Equipo eliminado correctamente!")){}
            else setTimeout(function(){location.reload()}, 500);
        }
    </script>
    {% endif %}
</body>
</html>